<div>
  <form class="login-form">
    <input id="email-login" />
    <input id="password-login" />
    <button>Login</button>
  </form>
  <form class="signup-form">
    <input id="email-signup" />
    <input id="username-signup" />
    <input id="password-signup" />
    <button>Signup</button>
  </form>
</div>
<script src="js/login.js"></script>